.navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .navbar-elements {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 10px; 
  
  }

  .about {
  text-align: start;
  }